body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

section {
      height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.time-container {
    background-color: aliceblue;
    width: 50vh;
    padding: 30px;
    border-radius: 10px;
}